<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38681732543-a1c15bbp5qra3vdf4c26f8h4qj4mp8hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38681732543-a1c15bbp5qra3vdf4c26f8h4qj4mp8hm</string>
	<key>API_KEY</key>
	<string>AIzaSyBvr4N6_c5AtQfWH44EU8QHDH-sPgGtr9A</string>
	<key>GCM_SENDER_ID</key>
	<string>38681732543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.streams.kit</string>
	<key>PROJECT_ID</key>
	<string>streamos-2c5cd</string>
	<key>STORAGE_BUCKET</key>
	<string>streamos-2c5cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38681732543:ios:d0c2f5a9f52dd059a5ad0a</string>
</dict>
</plist>